<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/studentlist.css' %}">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <a href="{% url 'student_add' %}" class="btn btn-primary">Add New Student</a>
        </div>
        <h1>Student List</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td><a href="{% url 'student_detail' student.id %}">{{ student.name }}</a></td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
